.basket-container {
    padding: 50px;
    display: flex;
}

.basket-left {
    flex: 2;
}

.basket-right {
    flex: 1;
}

.basket-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: relative;
}

.basket-table {
    width: 100%;
    border-spacing: 20px;
}

.basket-tr td{
    text-align: center;

}
.basket-remove-product{
    font-size: 25px;
    color: red;
    cursor: pointer;
}


.basket-name {
    font-weight: 500;
    color: #d1411e;
    font-size: 18px;
}

.basket-price {
    font-weight: 500;
    font-size: 18px;
}

.basket-wrapper {
    width: 90%;
    max-height: 300px;
    background-color: #333;
    padding: 10px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.basket-totalTextTitle {
    margin-right: 10px;
}

.basket-button {
    height: 30px;
    color: #d1411e;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.basket-clear {
    color: white;
   background-color: #d1411e;
    height:50px;
    width:50px;
    border: none;
    cursor: pointer;
    border-radius:50%;
}

@media  (max-width: 480px){
    .basket-container{
        flex-direction: column;
        padding: 20px;
    }
    .basket-table{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .basket-trTitle{
        display: none;
    }
    .basket-tr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .basket-image{
        width: 35vw;
        height: 35vw;
    }
    .basket-remove-product{
        padding-left: 250px;
    }

    .basket-name,.basket-price{
        font-size: 24px;
    }
    .basket-addon{
        font-size: 20px;
    }
    .basket-addon::before{
        content: "Addon: "
    }
    .basket-price::before{
        content: "Price: ";
    }
    .basket-clear{
        margin-bottom: 30px;
    }
    .basket-wrapper{
        width: 100%;
    }
}

