.registerForm-container {
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: rgb(242, 242, 242);
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerForm-wrapper {
    width: 40%;
    padding: 20px;
    background-color: white;
    border: 1px solid #d1411e;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 380px) {
    .registerForm-wrapper {
        width: 75%;
    }
}

.registerForm-wrapper h1 {
    text-align: center;
    font-size: 24px;
}

.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerForm label {
    display: flex;
    width: 60%;
    margin: 10px 0;
}

.registerForm input {
    flex: 1;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    margin: 20px 0 0 0;
}

.registerForm input:focus {
    outline: none;
    border: 1px solid #d1411e;
}

.registerForm-agreement {
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0;
}

.registerForm-btn {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #d1411e;
    cursor: pointer;
}